### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [25]:
#purchase_data.groupby("SN").nunique()
#print(purchase_data)
len(purchase_data.groupby('SN'))

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
#unique item
len(purchase_data.groupby('Item ID'))

183

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
#print (purchase_data['score']/purchase_data['score'].sum())
len(purchase_data.groupby('Gender'))
male_list = list(purchase_data['Gender'] == 'Male')
male_count = len([x for x in male_list if x == True])
female_list = list(purchase_data['Gender'] == 'Female')
female_count = len([x for x in female_list if x == True])
other_list = list(purchase_data['Gender'] == 'Other / Non-Disclosed')  
other_count = len([x for x in other_list if x == True])
all_count = male_count + female_count + other_count
male_perc = male_count/all_count
female_perc = female_count/all_count
other_perc = other_count/all_count
print('Male: Percentage {}%, Count {}'.format(male_perc*100, male_count) )
print('Female: Percentage {}%, Count {}'.format(female_perc*100, female_count) )
print('Other: Percentage {}%, Count {}'.format(other_perc*100, other_count) )

Male: Percentage 83.58974358974359%, Count 652
Female: Percentage 14.487179487179489%, Count 113
Other: Percentage 1.9230769230769231%, Count 15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [113]:
output_df = pd.DataFrame(columns=['Gender', 'Purchase Count', 'Average Purchase Price', "Average Total Per Person"]) # Create the dataframe. Here we have all of out columns
for gen in purchase_data.groupby('Gender'): # Go through each of the purchase_data Gender values
        output_df = output_df.append([{'Gender': gen[0],'Purchase Count': len(gen[1]), 'Average Purchase Price':gen[1]['Price'].mean(), "Average Total Per Person": gen[1]['Price'].sum() / gen[1]['SN'].nunique()  }]) #For each value, append the Gender and Pruchase Count to the dataframe
        # print (gen[1]['Price'].mean())
        print (gen[1]['Price'].sum() / gen[1]['SN'].nunique())
        #for sn in gen[1].groupby('SN'):
         #   print(sn[1]['Price'].sum())
print (output_df)

4.468395061728395
4.065371900826446
4.5627272727272725
                  Gender Purchase Count  Average Purchase Price  \
0                 Female            113                3.203009
0                   Male            652                3.017853
0  Other / Non-Disclosed             15                3.346000

   Average Total Per Person
0                  4.468395
0                  4.065372
0                  4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [146]:
output_df = pd.DataFrame(columns=['age_range', 'Purchase Count', 'Percent']) # Create the dataframe. Here we have all of out columns
age_series= pd.cut(purchase_data.Age, [0,9,14,19,24,29,34,39,99], right =True)
purchase_data['age_range'] = age_series
total = len(purchase_data)
for age in purchase_data.groupby('age_range'): # Go through each of the purchase_data Gender values
        output_df = output_df.append([{'age_range': age[0],'Purchase Count': len(age[1]), 'Percent': (len(age[1]) / total) * 100}]) 
        

print (output_df)

  age_range Purchase Count    Percent
0    (0, 9]             23   2.948718
0   (9, 14]             28   3.589744
0  (14, 19]            136  17.435897
0  (19, 24]            365  46.794872
0  (24, 29]            101  12.948718
0  (29, 34]             73   9.358974
0  (34, 39]             41   5.256410
0  (39, 99]             13   1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [137]:
output_df = pd.DataFrame(columns=['age_range', 'Purchase Count', 'Average Purchase Price', "Average Total Per Person"]) # Create the dataframe. Here we have all of out columns
age_series= pd.cut(purchase_data.Age, [0,9,14,19,24,29,34,39,99], right =True)
purchase_data['age_range'] = age_series

for age in purchase_data.groupby('age_range'): # Go through each of the purchase_data Gender values
        output_df = output_df.append([{'age_range': age[0],'Purchase Count': len(age[1]), 'Average Purchase Price':age[1]['Price'].mean(), "Average Total Per Person": age[1]['Price'].sum() / age[1]['SN'].nunique()  }]) #For each value, append the Gender and Pruchase Count to the dataframe
        # print (gen[1]['Price'].mean())

print (output_df)

  age_range Purchase Count  Average Purchase Price  Average Total Per Person
0    (0, 9]             23                3.353478                  4.537059
0   (9, 14]             28                2.956429                  3.762727
0  (14, 19]            136                3.035956                  3.858785
0  (19, 24]            365                3.052219                  4.318062
0  (24, 29]            101                2.900990                  3.805195
0  (29, 34]             73                2.931507                  4.115385
0  (34, 39]             41                3.601707                  4.763548
0  (39, 99]             13                2.941538                  3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [149]:
output_df = pd.DataFrame(columns=['SN', 'Purchase Count', 'Average Purchase Price', "Total Purchase Value"])
for sn in purchase_data.groupby('SN'): # Go through each of the purchase_data SN values
        output_df = output_df.append([{'SN': sn[0],'Purchase Count': len(sn[1]), 'Average Purchase Price':sn[1]['Price'].mean(), "Total Purchase Value": sn[1]['Price'].sum()}]) #For each value, append the Gender and Pruchase Count to the dataframe
sort_df = output_df.sort_values (by=['Total Purchase Value'], ascending=False)
print(sort_df)

             SN Purchase Count  Average Purchase Price  Total Purchase Value
0     Lisosia93              5                3.792000                 18.96
0   Idastidru52              4                3.862500                 15.45
0    Chamjask73              3                4.610000                 13.83
0        Iral74              4                3.405000                 13.62
0   Iskadarya95              3                4.366667                 13.10
..          ...            ...                     ...                   ...
0   Ililsasya43              1                1.020000                  1.02
0      Irilis75              1                1.020000                  1.02
0       Aidai61              1                1.010000                  1.01
0    Chanirra79              1                1.010000                  1.01
0         Alo38              1                1.000000                  1.00

[576 rows x 4 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [171]:
output_df = pd.DataFrame(columns=['Item ID', 'Item Name', 'Price'])

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80